.page {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 18px;
  overflow-x: hidden;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

@media (min-width: 768px) {
  .header {
    min-block-size: 1024px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--accent-color-background);
  border-right: 1px solid var(--accent-color-background);
  inline-size: 25px;
  block-size: 25px;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-left: 1px solid var(--accent-color-background);
  border-bottom: 1px solid var(--accent-color-background);
  inline-size: 25px;
  block-size: 25px;
  left: 10px;
  bottom: 10px;
}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-start;
  gap: 10px;
  text-align: center;
  color: var(--decorative-rec-color);
  text-transform: uppercase;
  margin: 2px 8px 0 0;
  top: 10px;
  right: 10px;
}

.header__rec::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--decorative-rec-color);
}

@media (min-width: 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__rec {
    top: 20px;
    right: 20px;
  }
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  min-inline-size: 70px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: self-start;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  color: var(--menu-button-color);
  text-transform: lowercase;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  outline: 1px solid transparent;
  cursor: pointer;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--button-active-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--menu-button-color-hover) 40%); /* Сделать 40% прозрачности */
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--menu-button-color);
}

.heading__title {
  font-family: var(--main-font);
  font-size: var(--accent-heading-mobile);
  color: var(--header-heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}

.header__text {
  font-family: "IBM Plex mono";
  background-color: var(--accent-title-background-color);
  color: var(--accent-text-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  min-width: 355px;
}

@media (min-width: 768px) {
  .heading__title {
    justify-self: start;
    margin-left: -20px;
  }

  .header__text {
    max-inline-size: 364px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }
  .header__theme-menu-button {
    padding: 2.9px 13px;
  }

  .heading__title {
    font-size: var(--accent-heading-desktop);
  }

  .header__text {
    max-inline-size: 491px;
  }
}

/* HEADER END */

/* MAIN START */

.content {
  padding: 10px;
}

.content-section {
  display: grid;
  gap: 20px;
  margin-block-start: 30px;
}

.content-section__title {
  max-inline-size: 355px;
  font-weight: 700;
  font-size: 18px;
  font-family: var(--main-font);
  color: var(--heading-color);
}

.main-text-block__title {
  font-family: var(--main-font);
  background-color: var(--accent-title-background-color);
  color: var(--accent-text-color);
  font-weight: bold;
  font-size: 18px;
}

.main__text__content {
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0 20px;
}

.main-text-blocks {
  display: grid;
  align-items: start;
}

.main-text-block {
  display: grid;
  margin-top: 5px;
}

.subtitle {
  font-weight: 400;
}

.main-text-block__list {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .content {
    padding: 20px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    margin-block-start: 35px;
  }

  .content-section__title {
    max-inline-size: 220px;
  }

  .causes {
    margin-block-start: 65px;
    gap: 15px;
  }

  .advices {
    grid-template-columns: 1fr 2fr;
    margin-block-start: 50px;
  }

  .advice-title {
    max-inline-size: 300px;
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .content-section__title {
    max-inline-size: 285px;
  }

  .why {
    gap: 10px;
  }

  .content-section.causes {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content-section__title .causes {
    grid-column: 1 / 4;
    text-align: center;
  }

  .causes .content-section__title {
    grid-column: span 3;
  }

  .causes .main-text-blocks {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .advices {
    margin-block-start: 60px;
    gap: 10px;
  }

  .advices .content-section__title {
    max-inline-size: 320px;
  }
  .main__text__content {
    margin-bottom: 18px;
  }

  .main-text-block__list {
    margin-top: 32px;
  }
}

.section-gallery {
  margin-block-start: 35px;
  margin-block-end: 30px;
}
.images__gallery {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.images__gallery > img {
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .section-gallery {
    margin-block-start: 60px;
    margin-block-end: 40px;
  }

  .images__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, fit-content(568px));
    gap: 20px;
    margin-block-start: 20px;
  }

  .image__sunset {
    grid-column: 1 / 3;
  }

  .image__icecream {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 100%;
  }

  .image__tape {
    grid-column: 1;
    grid-row: 2 / 4;
    height: 100%;
  }

  .image__books {
    grid-column: 2;
    grid-row: 2 / 3;
  }

  .image__street {
    grid-column: 2 / 4;
  }
}

/* MAIN END */

.footer {
  display: grid;
  min-height: 667px;
  block-size: 100vh;
}

.footer__title {
  font-family: var(--main-font);
  align-self: center;
  justify-self: center;
  font-size: var(--accent-heading-mobile);
  color: var(--footer-text-color);
  text-shadow: 2px 2px var(--accent-color);
}

.word-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-color);
}

.word-link:hover {
  border-bottom: 1px solid;
}

.word-link:focus {
  outline: none;
}

.word-link:focus-visible {
  outline: 1px solid;
}

@media (min-width: 1024px) {
  .footer__title {
    font-size: var(--accent-heading-desktop);
  }
}
